---
layout: single
author_profile: true
classes: wide
title: ""
entries_layout: grid
pagination:
  enabled: true
---

<head>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<!--
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<h1 id="page-title" class="page__title">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h1>
<div class="entries-{{ page.entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=page.entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
-->
<figure style="margin-top:-.5em; margin-bottom:1em;" >
<img src="/assets/images/crop-0-0-1024-256-0-1654535679801.jpeg" class="full" />
</figure>

<p>Doug Langille is a writer and shameless technophile living the good life in Nova Scotia.</p>  

<p>He bravely leads Digital Innovation & Development at the NSCC.</p>

<p>Doug doesn't usually talk about himself in the third-person, but when he does he tends to bend the truth.</p>
