{% if paginator.total_pages > 1 %}
<nav class="pagination">
  <ul>
      
      {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
        </li>
      {% else %}
        <li class="previous">
          <a href="#" class="disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
        </li>
      {% endif %}

      {% if paginator.first_page and paginator.page > 3 %}
      <li><a href="{{ paginator.first_page_path }}">{{ paginator.first_page }}</a></li>
      {% endif %}

      {% if paginator.first_page and paginator.page > 4 %}
      <li><a href="#" class="disabled">&hellip;</a></li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li>
              <a href="{{ trail.path }}" title="{{trail.title}}" {% if page.url == trail.path %}class="disabled current"{% endif %}>{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% assign end_bumper = paginator.last_page | minus: 3 %}
      {% if end_bumper > paginator.page %}
      <li><a href="#" class="disabled">&hellip;</a></li>
      {% endif %}

      {% assign end_bumper = paginator.last_page | minus: 2 %}
      {% if paginator.last_page and end_bumper > paginator.page %}
      <li><a href="{{ paginator.last_page_path }}">{{ paginator.last_page }}</a></li>
      {% endif %}

      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
      </li>
      {% else %}
        <li class="next">
          <a href="#" class="disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
        </li>
      {% endif %}
  </ul>
</nav>
{% endif %}